@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  overflow-x: hidden;
}
a {
  color: #000;
  text-decoration: none;
}
.title {
  margin: 0 1rem 1rem;
  position: relative;
  &::after {
    content: "";
    width: 10vw;
    height: 5px;
    background: #1976d2;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
}
